﻿<div ng-controller="homeController as vm">
    <div class="centered-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <!-- Left Sidebar -->
                </div>
                <div class="col-lg-6">
                    <div ng-show="vm.errorBanner" class="alert-danger" style="border-radius: 5px; padding: 10px;">
                        <h3>
                            <span style="font-size: 18px; font-weight: 700;"> {{vm.errorBanner}} </span>
                        </h3>
                    </div>
                    <div ng-show="vm.successBanner" class="alert-success" style="border-radius: 5px; padding: 10px;">
                        <h3>
                            <span class="alert-success" style="font-size: 18px; font-weight: 700;"> {{vm.successBanner}} </span>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Right Sidebar -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <!-- Left Sidebar -->
                </div>
                <div class="col-lg-6">
                    <center>
                        <div class="centered-form__form">
                            <form>
                                <div class="form-field">
                                    <h3>SWGSource SWG v1.2
                                        <h3>
                                </div>
                                <div class="form-field">
                                    <input type="text" placeholder="Username" name="username" ng-model="user.username" autofocus/>
                                </div>
                                <div class="form-field">
                                    <input type="email" placeholder="Email" name="email" ng-model="user.email" />
                                </div>
                                <div class="form-field">
                                    <input type="password" placeholder="Password" name="password" ng-model="user.password" />
                                </div>
                                <div class="form-field">
                                    <input type="password" placeholder="Confirm Password" name="confirmPassword" ng-model="confirmPassword" />
                                </div>
                                <div class="form-field">
                                    <p>CAPTCHA Resets Every 60 Seconds...</p>
                                    <p style="font-size: 18px !important; font-weight: 700;">
                                        {{vm.captcha}} - {{captchaTimer}}
                                    </p>
                                    <input type="text" placeholder="CAPTCHA" name="CAPTCHA" ng-model="captchaInput" autofocus/>
                                </div>
                                <div class="form-field">
                                    <button class="btn btn-primary" ng-disabled="!user.username || !user.password || !user.email || user.password != confirmPassword || vm.captcha != captchaInput"
                                        ng-click="vm.register(user)">Register</button>
                                    <sub>
                                        <a href="/forgotPass" class="text-warning">Forgot Password</a>
                                    </sub>
                                </div>
                            </form>
                        </div>
                    </center>
                </div>
                <div class="col-lg-3">
                    <!-- Right Sidebar -->
                </div>
            </div>
        </div>
    </div>