﻿<div id="alert" class="alert alert-success" ng-show="Flg">
    {{Msg}}
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Recover Password</h3>
    </div>
    <form name="recoverPasswordForm" novalidate>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Email</label>
                    <div class="col-md-4">
                        <input type="email" name="Email" ng-model="Emp.Email" class="form-control" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" ng-click="RecoverPassword(Emp,recoverPasswordForm.$valid)" value="RecoverPassword" class="btn btn-primary"
                        />
                        <a href="/Home" class="btn btn-link">Back To Login</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div>
        <ul>
            <li class="alert alert-danger" ng-if="recoverPasswordForm.$submitted && recoverPasswordForm.Email.$error.required"> Email is required</li>
            <li class="alert alert-danger" ng-if="recoverPasswordForm.$submitted && recoverPasswordForm.Email.$error.email">Email is Invalid</li>
        </ul>

        <ul ng-repeat="item in serverErrorMsgs">
            <li>
                <div class="alert alert-danger">{{item[0]}}</div>
            </li>
        </ul>
    </div>
</div>